# Patterns to ignore when building packages.
# This supports shell glob matching, relative path matching, and
# negation (prefixed with !). Only one pattern per line.
.DS_Store

# Common VCS dirs
.bzr/
.bzrignore
.hg/
.hgignore
.svn/
# Common backup files
*.swp
*.bak
*.tmp
*~
# Various IDEs
.project
.idea/
*.tmproj
.vscode/
**/charts
chart.iml

*.tfstate*
terraform.tfvars*
.terraform/
# Common backup files
*.swp
*.bak
*.tmp
*~
# Various IDEs
.project
.idea/
*.tmproj
.vscode/
**/charts
chart.iml
site/

# helm dependencies temporary folders
codacy/charts
codacy/tmpcharts

# Automated generation of changelogs and release notes
release-notes-tools
