minio:
  enabled: true
resources:
  limits:
    cpu: 1
    memory: 1000Mi
  requests:
    cpu: 500m
    memory: 500Mi
loki:
  limits_config:
    cardinality_limit: 200000
    ingestion_rate_mb: 15
    ingestion_burst_size_mb: 20
monitoring:
  serviceMonitor:
    enabled: true
  table_manager:
    retention_deletes_enabled: true
    retention_period: 72h
rbac:
  pspEnabled: false
