# Patterns to ignore when building packages.
# This supports shell glob matching, relative path matching, and
# negation (prefixed with !). Only one pattern per line.

# os specific
.DS_Store

# Common VCS dirs
.git/
.gitignore
.bzr/
.bzrignore
.hg/
.hgignore
.svn/

# Common backup files
*.swp
*.bak
*.tmp
*~

# Various IDEs
.project
.idea/
*.tmproj
.vscode/

## addon values files and dev requirements
requirements-dev.yaml
values-cert-manager.yaml
values-loki.yaml
values-microk8s.yaml
values-nginx.yaml
values-prometheus-operator.yaml
values-promtail.yaml
values-tls-ingress-aws.yaml


## kubernetes templates
issuer-letsencrypt.yaml
